body,html{
    height: 100%;
    font-size: 16px;
    font-weight:400;
    margin: 0;
    color: #666;
    line-height: 1.8em;
}
.pimg1{
    min-height: 100%;
    background-image: url("pimg1.jpg");
    background-repeat: no-repeat;
    width: 100%;
}

.pimg2{
    min-height: 400px;
    background-image: url("pimg2.jpg");
    background-repeat: no-repeat;
    width: 100%;
}

.pimg3{
    min-height: 400px;
    background-image: url("pimg3.jpg");
    background-repeat: no-repeat;
    width: 100%;
}

.pimg1, .pimg2, .pimg3{
    position: relative;
    opacity: 0.90;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* parralax effect*/
}

.section{
    text-align: center;
    padding: 20px;
}

.section-light{
    background-color: rgb(236, 230, 236);
    color: black;
}

.section-dark{
    background-color: rgb(31, 29, 29);
    color: rgb(252, 252, 252);   
}

.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: white;
}

.border{
    background-color: rgb(20, 20, 20);
    padding: 12px;
    border-radius: 2px;
}
.trans{
    background-color: transparent;
}
